@model Cricket_Auction.Models.Player

@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

<h4>Player Data</h4>
<hr />
<div class="row">
    <div class="col-md">
        <form asp-action="Update" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PlayerID" value="@Model.PlayerID" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <textarea asp-for="Username" class="form-control"></textarea>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <textarea asp-for="Password" class="form-control"></textarea>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <textarea asp-for="Email" class="form-control"></textarea>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Batting" class="control-label"></label>
                <textarea asp-for="Batting" class="form-control"></textarea>
                <span asp-validation-for="Batting" class="text-danger"></span>
                <div class="form-group">
                    <label asp-for="Balling" class="control-label"></label>
                    <textarea asp-for="Balling" class="form-control"></textarea>
                    <span asp-validation-for="Balling" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StrikeRate" class="control-label"></label>
                    <textarea asp-for="StrikeRate" class="form-control"></textarea>
                    <span asp-validation-for="StrikeRate" class="text-danger"></span>
                </div>

            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<Status>()"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
